.product-container {
  margin: 2rem auto;
  width: 500px;
  border: 1px solid black;
}

.product-container h2 {
  text-align: center;
  padding: 1rem;
}

.product-container td {
  line-height: 2rem;
  padding: 0 1rem;
}

table {
  text-align: center;
  margin: 0 auto;
}

.product-container button {
  padding: 0.2rem 0.3rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
  border: 1px solid grey;
  cursor: pointer;
}

.product-container button:hover {
  background-color: lightblue;
  outline: none;
}

.product-container a {
  padding: 0.2rem 0.3rem;
  border: none;
  outline: none;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  border: 1px solid grey;
}

.product-container a:hover {
  background-color: lightblue;
  outline: none;
}
