.product-container {
  margin: 2rem auto;
  width: 500px;
  border: 1px solid black;
}

.product-container h2 {
  text-align: center;
  padding: 1rem;
}

.product-container td {
  line-height: 2rem;
  padding: 0 1rem;
}

table {
  text-align: center;
  margin: 0 auto;
}

.product-container button {
  padding: 0.2rem 0.3rem;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.product-container button:hover {
  background-color: lightblue;
  border: none;
  outline: none;
}
